/* ================================
   RESET
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ================================
   CONFIGURAÇÕES GERAIS
================================ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background: #f8fbff;

    color: #333;

    min-height: 100vh;

    overflow-x: hidden;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}


/* ================================
   APP
================================ */

.app {
    width: 100%;
    min-height: 100vh;
}